/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


	body {
	background: #ffffff;
	width: 100%;
	min-width:885px;
	max-width:2000px
}

#cabecalho {
	width: 100%;
	height: 35px;
	background-color: black;
	margin: 0 auto;
	color: #a7babb;
	border-bottom: 4px solid #c0392b;
}

#alinharsite {
	width: 95%;
	height: 90%;
	margin: 0 auto;
	max-width: 1048px;
}

header {
}

#slide {
	margin-top: 25px;
	height: 400px;
	background: #e5e8e9;
	max-width: 1048px;
	border-radius: 8px;
	border: 1px solid #BDC3C7;
} 

/* Comentando pra testar o Git */

section {
	margin-top: 50px;
	max-width: 1048px;
}

#voltartopo {
	margin-top: 50px;
	height: 30px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #BDC3C7;
	clear: both;
}

#voltartopo h6 {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	margin-top: 6px;
	color: #262525;
	text-align: right;
}

footer {
	background: black;
	border-top: 4px solid #c0392b;
	height: 60px;
	clear: both;
}

.alinhar {
	width: 80%;
	margin: 0 auto;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	max-width: 1048px;
	
}

#logotipo {
	margin-top: 50px;
	margin-bottom: 35px;
	clear: both;
	
}

#logotipo a {
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-size: 46px;
	color: #c0392b;
	
}


#tiulposts {
	background: #c0392b;
	height: 50px;
	width: 25%;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	text-align: center;
	font-style: normal;
	float: left;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	
}

#tiulposts p {
	color: white;
	margin: 10px;
}

#blackulposts {
	background: #262525;
	float: left;
	height: 50px;
	width: 39%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}

article {
	float: left;
	width: 65%;
	height: 82%;
}

#imgpost {
	float: left;
	margin: 20px 20px 20px 0px;
	width: 40%;
	height: 42%;
}

#imgpost img {
	float: left;
	width: 100%;
	border: 1px solid #BDC3C7;
	border-radius: 8px;
	
}

#contpost {
	float: left;
	margin: 15px 0px 20px 0px;
	width: 56%;
	height: 37%;
	
}

hr {
	margin-top: 10px;
	width: 98%;
}

#titulo {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	clear: both;
	color: #262525;
	margin-top: 18px;
	font-weight: 400;
}

#titulo a {
	text-decoration: none;
	color: #262525;
}

#titulo a:hover {
	text-decoration: none;
	color: #c0392b;
}

#contpost p {
	font-family: "Lato", Arial, sans-serif;
	font-size: 14px;
    line-height: 200%;
    text-align: justify;
    color: #444444;
}

#contpost i {
	font-family: "Lato", sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #666666;
	float: right;
}

#voltartopo a {
	text-decoration: none;
	color: #666666;
}

#titletwitter {

	width: 27%;
	height: 50px;
	padding-left: 1%;
	background: #c0392b;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	font-style: normal;
	float: left;
	margin-left: 50px;
	color: white;
	border-radius: 8px;
}

#titletwitter p {
	margin: 10px;
}

#followtwitter {
	float: left;
	margin-left: 50px;
	width: 29%;
	height: 50px;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	font-style: normal;
	color: black;	
	
}

#follow {
	
	float: left;
	margin-top: 12px;
	margin-left: 20px;
	
}

#tweet {
	float: left;
	margin-top: 12px;
	margin-left: 5px;
	
}

#titlegoogle {
	width: 27%;
	height: 50px;
	padding-left: 1%;
	background: #c0392b;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	font-style: normal;
	float: left;
	margin-left: 50px;
	color: white;
	border-radius: 8px;
}

#titlegoogle p {
	margin: 10px;
}

#followgoogle {
	float: left;
	width: 27%;
	height: 275px;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	font-style: normal;
	float: left;
	margin-left: 50px;
	color: black;
}

#google {
	margin-left: 35px;
	margin-top: 20px;
}



#titleface{
	width: 27%;
	height: 50px;
	padding-left: 1%;
	background: #c0392b;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	font-style: normal;
	float: left;
	margin-left: 50px;
	color: white;
	border-radius: 8px;
}

#titleface p {
	margin: 10px;
}

#followface {
	float: left;
	text-align: center;
	width: 28%;
	height: 130px;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	font-style: normal;
	float: left;
	margin-left: 50px;
	color: black;
}

.fb-follow {
	margin-top: 20px;
}
.fb-like {
	margin-top: 20px;
}

#direitos {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	color: white;
	width: auto;
	float: left;
	height: 60px;
	
}

#direitos p {
	margin: 20px;
}




/* Menu ANUNCIE / CONTATO */



#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: "Lato", sans-serif;
}
#cssmenu {
  zoom: 1;

  width: auto;
  float: left;
}
#cssmenu ul li {
  float: left;
  list-style: none;
  color: #999999;
  padding: 7px 0px 0;
  margin: 5px 5px 0;
}
#cssmenu ul li a {
  display: block;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 12px;
  color: #bdc3c7;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .9;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  background: url(color.png) center bottom;
  display: block;
  color: white;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
  opacity: 1;
}




#cssmenu2 ul,
#cssmenu2 ul li,
#cssmenu2 ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: "Lato", sans-serif;
}
#cssmenu2:before,
#cssmenu2:after,
#cssmenu2 > ul:before,
#cssmenu2 > ul:after {
  content: '';
  display: table;
}
#cssmenu2:after,
#cssmenu2 > ul:after {
  clear: both;
}
#cssmenu2 {
  zoom: 1;
  background: url(bottom-bg.png) repeat-x center bottom;
  border-radius: 2px;
  width: auto;
  float: right;
  margin-top: 12px;
}
#cssmenu2 ul {
  background: url(nav-bg.png) repeat-x 0px 4px;
}
#cssmenu2 ul li {
  float: left;
  list-style: none;
  color: #999999;
  padding: 7px 0px 0;
  margin: 5px 5px 0;
}
#cssmenu2 ul li a {
  display: block;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 12px;
  color: #bdc3c7;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .9;
}
#cssmenu2 ul li a:hover,
#cssmenu2 ul li.active a {
  background: url(color.png) center bottom;
  display: block;
  color: white;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
  opacity: 1;
}

/* Menu das Redes Sociais */

#redessociais ul,
#redessociais ul li,
#redessociais ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: "Roboto Slab", Arial, sans-serif;
  
}
#redessociais:before,
#redessociais:after,
#redessociais > ul:before,
#redessociais > ul:after {
  content: '';
  display: table;
}
#redessociais:after,
#redessociais > ul:after {
  clear: both;
}
#redessociais {
  zoom: 1;
  height: 69px;
  background: url(bottom-bg.png) repeat-x center bottom;
  border-radius: 2px;
  width: auto;
  float: right;
}

#redessociais img {
	width: 100%;
	height: 100%;
	padding: 0;
	
}

#redessociais li a img {
	border-radius: 8px;
}

#redessociais ul {
  background: url(nav-bg.png) repeat-x 0px 4px;
  height: 69px;
}
#redessociais ul li {
  float: left;
  list-style: none;
  margin-left: 1px;
  padding: 0px 2px 0px 2px;
}
#redessociais ul li a {
  display: block;
  height: 35px;
  width: 35px;
  text-decoration: none;
  font-size: 12px;
  color: #bdc3c7;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .5;
  
}
#redessociais ul li a:hover,
#redessociais ul li.active a {
  transition: background 0.1s ease-in 0.03s;
  display: block;
  margin-top: 0px;
  color: white;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
  opacity: 1;
}

.search-query {
	height: 33px;
	width: 180px;
	background-color: #101010;
	border: 0px solid;
	font-family: "Roboto Slab", Arial, sans-serif;
	font-size: 15px;
	padding-left: 10px;
	float: left;
	color: #bdc3c7;
	
	
}

#redessociais input {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.search-query:focus {
    outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
    outline: none;
}

#searchsubmit {
	border: 0px solid;
	height: 35px;
	width: 40px;
	float: right;
	font-family: "Roboto Slab", Arial, sans-serif;
	color: #bdc3c7;
	padding: 0;
	
}

#searchsubmit img {
	width: 100%;
	height: 100%;
	padding: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}


#searchsubmit:focus {
    outline: 0;
}
/* Menu Principal */


#menuprincipal ul, #menuprincipal li {list-style: none; margin: 0; padding: 0;}
#menuprincipal ul li { float: left; min-height: 1px; vertical-align: middle;}
#menuprincipal ul li.hover,
#menuprincipal ul li:hover > ul { visibility: visible;}
#menuprincipal a { display: block; line-height: 1em; text-decoration: none; }

#menuprincipal {
  background: #262525;
  /*border-bottom: 4px solid #1b9bff;*/
  font-family: "Lato", sans-serif;
  font-size: 12px; 
  padding: 0 auto;
  margin: 0 auto;
  height: 42px;
  border-radius: 8px;
}

  #menuprincipal > ul { *display: inline-block; }

  #menuprincipal:after, #menuprincipal ul:after {
    content: '';
    display: block;
    clear: both; 
}

#menuprincipal a {
    background: #262525;
    color: #bdc3c7;
    padding: 0 30px; 
    height: 42px;
    border-radius: 8px;
}

#menutras {
	height: 46px;
	background: #262525;
	border-radius: 8px;
}

#menuprincipal ul { text-transform: uppercase; }
      
#menuprincipal > ul > li > a { line-height: 48px;  }  
         
#menuprincipal ul li:hover > a {
	  transition: background 0.1s ease-in 0.03s, color 0.1s ease-in 0.03s;
      background: #302f2f;
      color: white;
      border-bottom: 4px solid #c0392b;
      filter: alpha(opacity=100);
	  
}

#menuprincipal ul li.active > a
{
	background: #302f2f;
    color: #bdc3c7;
    border-bottom: 4px solid #c0392b;
	
}

#menuprincipal ul li.active:hover > a
{
	background: #302f2f;
    color: white;
    border-bottom: 4px solid #c0392b;
	
}




#categorias ul,
#categorias ul li,
#categorias ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: "Lato", sans-serif;
}
#categorias:before,
#categorias:after,
#categorias > ul:before,
#categorias > ul:after {
  content: '';
  display: table;
}
#categorias:after,
#categorias > ul:after {
  clear: both;
}
#categorias {
  zoom: 1;
  border-radius: 2px;
  width: auto;
  float: left;
  margin-bottom: -18px;
}
#categorias ul li {
  float: left;
  list-style: none;
  margin-left: 7px;
  color: #999999;
}
#categorias ul li a {
  display: block;
  margin: 4px 0px 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 12px;
  color: #c0392b;
  font-weight: 400;
  opacity: .9;
}
#categorias ul li:first-child a {
  margin-left: -6px;
}
#categorias ul li a:hover,
#categorias ul li.active a {
  display: block;
  opacity: 1;
  text-decoration: underline;
}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}